[submodule "dotsync"]
    path = dotsync
    url = https://github.com/dotphiles/dotsync.git
[submodule "alacritty/colorschemes"]
	path = alacritty/colorschemes
	url = https://github.com/alacritty/alacritty-theme.git
